/*
 * Modern CSS made by kubix, 2024 thanks for morsz for helping me :)
 */
@charset "UTF-8";

h1 {
  margin: 0;
  padding: 20px 0;
  color: #000000;

}

h2 {
  color: rgb(255, 0, 149);
  width: 500px;

}

h3 {
  color: rgb(255, 0, 0);
  width: 500px;

}
